In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
# On importe le csv client
rl = pd.read_csv('/Users/p-asalisbury/Dropbox/Mon Mac (MacBook Air de P-A)/Desktop/Chef_doeuvre/CSV_MySQL/CSV_PREDICTION_MySQL.csv')
# On indique vouloir garder toutes les colonnes
pd.set_option('display.max_columns',None)
rl.head()

,id_client,cible,age,genre,niveau_etude,statut_matrimonial,nombre_enfants,accompagnant,total_revenus,type_revenu,categorie_pro,type_entreprise,anciennete,telephone_pro,proprietaire,type_logement,possede_voiture,anciennete_banque,mise_a_jour_documents,id_credit,type_credit,montant_demande_credit,montant_credit_accorde,statut_contrat,nombre_mois_decision,moyen_de_paiement,raison_rejet,type_bien,id_type,id_bien
0,100002,1,25,0,0,0,0,0,202500,0,0,8,1,1,0,0,1,9,5,1038818,0,179055,179055,0,20,1,0,5,0,5
1,100097,0,48,0,0,1,0,0,157500,0,99,8,6,1,0,0,0,9,2,1448742,0,108000,108000,0,12,1,0,5,0,5
2,100297,0,28,0,0,1,0,1,135000,0,4,2,3,1,1,0,0,7,8,1915179,0,111195,111195,0,33,1,0,5,0,5
3,100297,0,28,0,0,1,0,1,135000,0,4,2,3,1,1,0,0,7,8,2622301,0,121639,121639,0,17,1,0,5,0,5
4,100301,1,22,0,0,1,1,0,112500,0,0,8,0,1,0,0,1,8,0,1537590,0,121455,121455,0,55,0,0,5,0,5

In [3]:
rl['statut_matrimonial'].value_counts()

1    583120
0    123423
2     96273
4     56357
3     26181
Name: statut_matrimonial, dtype: int64

In [4]:
rl = rl [['cible','niveau_etude','genre','age','statut_matrimonial','categorie_pro']]

In [5]:
from sklearn.neighbors import KNeighborsClassifier

In [6]:
model = KNeighborsClassifier() # On vient de charger un model de classification

In [7]:
y = rl['cible'] # On sélectionne la colonne cible
X = rl.drop('cible', axis=1) # On sélectionne toutes les colonnes sauf cible

In [8]:
model.fit(X,y)
model.score(X,y)

0.8861540129710828

In [9]:
# Notre modèle fait une bonne prédiction dans 90 % des cas ! C'est-à-dire il arrive à dire si un client à eu un 
# défaut de paiement ou non.

In [10]:
# On écrit une fonction pour prédir si notre client va avoir un défaut de paiement ou non.
# Secondary / secondary special = 0 Higher education = 1 Incomplete higher = 2 Lower secondary = 3 Academic degree = 4
# Laborers = 0 Core staff = 1 Accountants = 2 Managers = 3 Drivers = 4 Sales staff = 5 Cleaning staff = 6 Cooking 
# 7 Private service staff = 8 Medicine staff = 9 Security staff = 10 High skill tech staff = 11Waiters/barmen staff 
# 12 Low-skill Laborers = 13 Realty agents = 14 Secretaries = 15 IT staff = 16 HR staf = 17

def defaut(model,niveau_etude=2, genre=0, age=31, statut_matrimonial=0, categorie_pro=0  ):
    x = np.array([niveau_etude, genre, age, statut_matrimonial, categorie_pro]).reshape(1,5)
    print(model.predict(x))
    print(model.predict_proba(x))

In [11]:
defaut(model) # On estime si je vais avoir un défaut de paiement mais ce n'est pas suffisant ..
              # .. on calcule la probabilité que j'ai un défaut de paiement

[0]
[[0.8 0.2]]

In [12]:
# On a 80 % de chance d'honnorer son prêt et 20 % d'avoir un défaut de paiement. 
# Pour un homme de 31 ans célibataire et ouvrier.